body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  display: grid;
  width: fit-content;
  row-gap: 2px;
  column-gap: 2px;
}

#controls {
  margin-bottom: 10px;
}

.bloco {
  background-color: cyan;
  height: 15px;
  width: 15px;
}

.bloco.bloco-robo {
  background-color: yellow;
}

.bloco.bloco-obstaculo {
  background-color: red;
}

.bloco.bloco-meta {
  background-color: green;
}